.login-wrapper {
    color: rgb(0,0,0);
    background-color: rgb(0, 0, 0);
}

body {
    background-color: #6891a2;
}
/*.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
} 

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: '';
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
} 

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type=''text'']{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type='password']{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
*/
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
    position: relative;
}

.card-container::before,.card-container::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #F7F7F7;
    z-index: -1;
    transform: rotateZ(4deg);
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);

}

.card-container::after{
    top: 0;
    z-index: -2;
    transform: rotateZ(-4deg);
    -webkit-transform: rotateZ(-4deg);
     -moz-transform: rotateZ(-4deg);
      -ms-transform: rotateZ(-4deg);

}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    // -moz-border-radius: 2px;
    // -webkit-border-radius: 2px;
    // border-radius: 2px;
    -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
.btn, button {
    padding: 12px;
    display: inline-block;
    min-width: 100%;
    background-color: #E80C6E;
    border-radius: 4px;
    border: 0;
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color .6s;
    transition: background-color .6s;
}
.btn:hover, button:hover {
    background-color: #C80D60;
}


//Left menu and main layout design
.left-side-bar {
    color: #ffffff;
    position: absolute;
    height: 100%;
    width: 230px;
    background-color: #1C2B36;
    min-height: 100%;

    .left-side-header {
        height: 70px;
        color: #ffffff;
        font-size: 24px;
        text-transform: capitalize;
        padding: 19px;
        text-align: center;
        box-shadow: 2px 0 3px rgba(0,0,0,.5);
    }
    a {
        color: #ffffff;
    }
    .left-side-menu-items {
        padding: 15px 0;

        ul {
            padding: 0;
            margin: 0;

            .menu-item {
                a {
                    display: block;
                    padding: 15px;
                    text-decoration: none;

                    &:hover {
                        background-color: #209e91;
                    }   
                    span {
                        padding-left: 15px;
                    }           
                }
                &.active {
                    background-color: #209e91;
                }
            }
        }
    }
}
.main-content {
    padding-left: 230px;
}
.main-content .header {
    position: relative;
    height: 70px;
    background-color: #1C2B36;
    box-shadow: 2px 0 3px rgba(0,0,0,.5);
    padding: 10px 30px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .profile {
        display: inline-block;
        float: right;
    }
    .open>.dropdown-menu {
        left: -95px;
        top: 60px;
    }
}
.main-content .content-area {
    position: absolute;
    width: calc(100% - 230px);
    height: -moz-calc(100% - 70px);
    height: -webkit-calc(100% - 70px);
    height: -o-calc(100% - 70px);
    height: calc(100% - 70px);
    overflow: auto;
    top: 70px;
}