<h2>Register</h2>
<div class="row register-wrapper">
    <form>
        <div class="col-md-6">
            <p class="form-group">
                <label> User Type</label>
                <select class="form-control">
                    <option>Select user type</option>
                </select>
            </p>
            <p class="form-group">
                <label> User name</label>
                <input class="form-control" type="text"/>
            </p>
            <p class="form-group">
                <label> DOB</label>
                <input class="form-control" type="text"/>
            </p>
            <p class="form-group">
                <label> Address </label>
                <input class="form-control" type="text"/>
            </p>
            <p class="form-group">
                <label> Placement </label>
                <input class="form-control" type="text"/>
            </p>
            <p class="form-group">
                <label> Timeslot </label>
                <input class="form-control" type="text"/>
            </p>
        </div>
        <div class="col-md-6">
            <p class="form-group">
                <label> Institute </label>
                <input class="form-control" type="text"/>
            </p>
            <p class="form-group">
                <label> Email </label>
                <input class="form-control" type="email"/>
            </p>
            <p class="form-group">
                <label> Phone number </label>
                <input class="form-control" type="email"/>
            </p>
            <p class="form-group">
                <label> Course </label>
                <select class="form-control">
                    <option>Select course</option>
                </select>
            </p>
            <input class="btn btn-default" type="submit" data-ng-value="Submit" />
        </div>
    </form>
</div>